
<ion-header>
 <ion-toolbar color="dark">
    <ion-buttons slot="start">
     <ion-back-button defaultHref="login"></ion-back-button>
     </ion-buttons>
    <ion-title>Rol</ion-title>
 </ion-toolbar>
</ion-header>
    
<ion-content padding>
    <h3 text-center>Como quieres registrarte?</h3>
    <hr>
      <ion-card (click)="pushRegisterNavCtl()">
        <ion-card-header>
          <ion-card-subtitle>Persona Jurídica</ion-card-subtitle>
          <ion-card-title>Empresa Generadora de Carga</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
</ion-content>
