<ion-header>
  <ion-toolbar color="light">
     <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
      </ion-buttons>
     <ion-title>Crear Servicio
     </ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content padding>

    <ion-toolbar color="light">
                 <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;origen</ion-label>
             </ion-toolbar>
             <ion-list>
             <ion-item>
                <ion-label>Departamentos</ion-label>
                  <ion-select value="Bogota" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="servicio.ciudadinicio">
                  <ion-select-option value="Bogota">Bogota</ion-select-option>
                  <ion-select-option value="cundinamarca">cundinamarca</ion-select-option>
                  <ion-select-option value="Amazonas">Amazonas</ion-select-option>
                  <ion-select-option value="Arauca">Arauca</ion-select-option>
                  <ion-select-option value="Atlántico">Atlántico</ion-select-option>
                  <ion-select-option value="Bolívar">Bolívar</ion-select-option>
                  <ion-select-option value="Boyacá">Boyacá</ion-select-option>
                  <ion-select-option value="Caldas">Caldas</ion-select-option>
                  <ion-select-option value="Caquetá">Caquetá</ion-select-option>
                  <ion-select-option value="Casanare">Casanare</ion-select-option>
                  <ion-select-option value="Bogota">Cauca</ion-select-option>
                  <ion-select-option value="cundinamarca">Cesar</ion-select-option>
                  <ion-select-option value="Amazonas">Chocó</ion-select-option>
                  <ion-select-option value="Arauca">Córdoba</ion-select-option>
                  <ion-select-option value="Atlántico">Cundinamarca</ion-select-option>
                  <ion-select-option value="Bolívar">Guainía</ion-select-option>
                  <ion-select-option value="Boyacá">Guaviare</ion-select-option>
                  <ion-select-option value="Caldas">Huila</ion-select-option>
                  <ion-select-option value="Caquetá">La Guajira</ion-select-option>
                  <ion-select-option value="Casanare">Magdalena</ion-select-option>
                  <ion-select-option value="Bogota">Meta</ion-select-option>
                  <ion-select-option value="cundinamarca">Nariño</ion-select-option>
                  <ion-select-option value="Amazonas">Norte de Santander</ion-select-option>
                  <ion-select-option value="Arauca">Putumayo</ion-select-option>
                  <ion-select-option value="Atlántico">Quindío</ion-select-option>
                  <ion-select-option value="Bolívar">Risaralda</ion-select-option>
                  <ion-select-option value="Boyacá">San Andrés y Providencia</ion-select-option>
                  <ion-select-option value="Caldas">Santander</ion-select-option>
                  <ion-select-option value="Caquetá">Sucre</ion-select-option>
                  <ion-select-option value="Casanare">Tolima</ion-select-option>
                  <ion-select-option value="Bogota">Valle del Cauca</ion-select-option>
                  <ion-select-option value="cundinamarca">Vaupés</ion-select-option>
                  <ion-select-option value="Amazonas">Vichada</ion-select-option>           
                 </ion-select>
              </ion-item>
            
            </ion-list>
            <ion-item>
                <ion-label position="floating">Ciudad/ Municipio / vereda</ion-label>
                <ion-input [(ngModel)]="servicio.origen"></ion-input>
                
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Dirección de Origen</ion-label>
                  <ion-input type = "text"  [(ngModel)]="origin"  name ="origin"></ion-input>
                  <ion-input></ion-input>
                </ion-item>

              <ion-toolbar color="light">
                  <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Destino</ion-label>
              </ion-toolbar>
              <ion-list>
              <ion-item>
                 <ion-label>Departamentos</ion-label>
                 <ion-select value="Bogota" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="servicio.ciudadfinal">
                   <ion-select-option value="Bogota">Bogota</ion-select-option>
                   <ion-select-option value="cundinamarca">cundinamarca</ion-select-option>
                   <ion-select-option value="Amazonas">Amazonas</ion-select-option>
                   <ion-select-option value="Arauca">Arauca</ion-select-option>
                   <ion-select-option value="Atlántico">Atlántico</ion-select-option>
                   <ion-select-option value="Bolívar">Bolívar</ion-select-option>
                   <ion-select-option value="Boyacá">Boyacá</ion-select-option>
                   <ion-select-option value="Caldas">Caldas</ion-select-option>
                   <ion-select-option value="Caquetá">Caquetá</ion-select-option>
                   <ion-select-option value="Casanare">Casanare</ion-select-option>
                   <ion-select-option value="Bogota">Cauca</ion-select-option>
                  <ion-select-option value="cundinamarca">Cesar</ion-select-option>
                  <ion-select-option value="Amazonas">Chocó</ion-select-option>
                  <ion-select-option value="Arauca">Córdoba</ion-select-option>
                  <ion-select-option value="Atlántico">Cundinamarca</ion-select-option>
                  <ion-select-option value="Bolívar">Guainía</ion-select-option>
                  <ion-select-option value="Boyacá">Guaviare</ion-select-option>
                  <ion-select-option value="Caldas">Huila</ion-select-option>
                  <ion-select-option value="Caquetá">La Guajira</ion-select-option>
                  <ion-select-option value="Casanare">Magdalena</ion-select-option>
                  <ion-select-option value="Bogota">Meta</ion-select-option>
                  <ion-select-option value="cundinamarca">Nariño</ion-select-option>
                  <ion-select-option value="Amazonas">Norte de Santander</ion-select-option>
                  <ion-select-option value="Arauca">Putumayo</ion-select-option>
                  <ion-select-option value="Atlántico">Quindío</ion-select-option>
                  <ion-select-option value="Bolívar">Risaralda</ion-select-option>
                  <ion-select-option value="Boyacá">San Andrés y Providencia</ion-select-option>
                  <ion-select-option value="Caldas">Santander</ion-select-option>
                  <ion-select-option value="Caquetá">Sucre</ion-select-option>
                  <ion-select-option value="Casanare">Tolima</ion-select-option>
                  <ion-select-option value="Bogota">Valle del Cauca</ion-select-option>
                  <ion-select-option value="cundinamarca">Vaupés</ion-select-option>
                  <ion-select-option value="Amazonas">Vichada</ion-select-option>                    
 
                 </ion-select>
                 
                
               </ion-item>
             
             </ion-list>
             <ion-item>
                 <ion-label position="floating">Ciudad/ Municipio / vereda</ion-label>
                 <ion-input [(ngModel)]="servicio.destino"></ion-input>
                
               </ion-item>
               <ion-item>
                  <ion-label position="floating">Dirección de Destino</ion-label>
                  <ion-input type = "text"  [(ngModel)]="destination"  name ="destination"></ion-input>
                  <ion-input></ion-input>
                </ion-item>


               <ion-toolbar color="light">
                  <ion-label>&nbsp;&nbsp;&nbsp;&nbsp;Información</ion-label>
              </ion-toolbar>
              <ion-item>
                  <ion-label>Fecha Inicio de Carga</ion-label>
                  <ion-datetime   display-format="DD MMMM YYYY" min="2016" max="2050-10-31"  [(ngModel)]="servicio.fechainicio"></ion-datetime>
              </ion-item>

                <ion-item>
                    <ion-label>Fecha Entrega viaje de Destino</ion-label>
                    <ion-datetime display-format="DD MMMM YYYY" min="2016" max="2050-10-31" [(ngModel)]="servicio.fechafinal" ></ion-datetime>
                </ion-item>

                  <ion-item>
                      <ion-label position="floating">Valor del anticipo $</ion-label>
                      <ion-input></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Valor del Flete $</ion-label>
                        <ion-input [(ngModel)]="servicio.flete"></ion-input>
                        <ion-input></ion-input>
                      </ion-item>

                      <ion-item>
                          <ion-label position="floating">Evento</ion-label>
                          <ion-input [(ngModel)]="servicio.evento"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">estado</ion-label>
                            <ion-input [(ngModel)]="servicio.estado"></ion-input>
                          </ion-item>
                          <ion-item>
                            <ion-label position="stacked">monbre de empresa</ion-label>
                            <ion-input [(ngModel)]="servicio.nombre"></ion-input>
                          </ion-item>
                            <hr>
                            <hr>

                          <ion-button (click)="clicBoton()" color="light" size="large" expand="block" style="color:white " >Solicitar Servicio</ion-button>

</ion-content>
