<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- fab placed to the top and end and on the top edge of the content overlapping header -->
  <ion-fab  vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button color="secondary">
         <ion-icon name="filing"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="buttom">
       <ion-fab-button>
           <ion-icon name="create"></ion-icon>
       </ion-fab-button>
      </ion-fab-list>
   </ion-fab>

<!-- Default Animations -->
<ion-list *ngIf="!persons.length">
  <ion-item *ngFor="let item of [0]">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 600%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item-sliding *ngFor="let person of persons">
    <ion-item button >
      <ion-avatar slot="start">
        <img src="assets/icon/hombre.svg">
      </ion-avatar>
      <ion-label>
        <p>{{ person.nombres }} {{ person.apellidos }}</p>
        <p>{{ person.correo}}</p>
        <p>{{ person.id}}</p>
      </ion-label>
      <ion-note color="primary" slot="end" *ngIf="person.celular">{{ person.celular  }}</ion-note>
    </ion-item>
  </ion-item-sliding>
</ion-list>

</ion-content>

