
<ion-content padding>
    <!-- Default Animations -->
<ion-list *ngIf="!servicios.length">
        <ion-item *ngFor="let item of [0]">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 600%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list > 
            <ion-item-sliding *ngFor="let servicio of servicios">
              <ion-item button >
                <ion-avatar slot="start">
                  <img src="assets/icon/map.svg">
                </ion-avatar>
                <ion-label>
                  <p>Empresa : {{servicio.nombre }}</p>
                  <p>Valor Flete : ${{servicio.flete }}</p>
                  <p>Origen : {{servicio.origen }} </p>
                  <p>Destino : {{servicio.destino }} </p>
                </ion-label>
                <ion-note color="success" slot="end" *ngIf="servicio.evento">{{ servicio.evento}}</ion-note>
              </ion-item>
            </ion-item-sliding>
          </ion-list>
          
</ion-content>