<ion-header>
    <ion-toolbar color="light">
       <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs"></ion-back-button>
        
        </ion-buttons>
       <ion-title>SERVICIO
       </ion-title>
    </ion-toolbar>
   </ion-header>


   <ion-content class="welcome-card">
    
    
     
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->  
        <agm-map  (mapClick)="agregarMarcador($event)" [latitude]="lat" [longitude]="lng" [zoom]='16'>
          <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng"  width="50%">
           <!-- <agm-marker *ngFor="let marcador of marcadores" [latitude]="marcador.lat" [longitude]="marcador.lng" iconUrl="icon/marcador.png" width="50%">-->
         
            <agm-info-window>
                <strong>{{marcadores.title}}</strong>
                <p>{{marcadores.description}}</p>
              </agm-info-window>
          </agm-marker>
           <agm-polygon *ngIf="polygon"  [paths]="paths" fillColor="#FFFFFF" strokeColor="#FFFFFF">
          </agm-polygon>
          <agm-polyline *ngIf="polyline" strokeColor="#FFFFFF" >
            <agm-polyline-point [latitude]="latA" [longitude]="lngA">
            </agm-polyline-point>
            <agm-polyline-point [latitude]="latB" [longitude]="lngB">
            </agm-polyline-point>
        </agm-polyline>
        </agm-map>
     

  </ion-content>
  