<ion-header>
    <ion-toolbar color="danger">
       <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
       <ion-title>Como quieres registrarte?</ion-title>
    </ion-toolbar>
   </ion-header>
       
   <ion-content padding>
       <hr>
         <ion-card (click)="pushRegisterNavCtl()">
           <ion-card-header>
             <ion-card-subtitle>Dueño de Vehículo</ion-card-subtitle>
             <ion-card-title>Conductor Independiente</ion-card-title>
           </ion-card-header>
         
           <ion-card-content>
             Keep close to Nature's heart... and break clear away, once in awhile,
             and climb a mountain or spend a week in the woods. Wash your spirit clean.
           </ion-card-content>
         </ion-card>
   </ion-content>