<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
        <ion-title>Mi Vehículo</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content padding>

      <ion-list *ngIf="!cars.length">
          <ion-item-sliding *ngFor="let item of [0]">
            <ion-card >
                <ion-item lines="none">
                  <ion-label>
                      <h3>
                          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                      </h3>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" >
                  <ion-label>
                      <h3>
                          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                      </h3>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" >
                  <ion-label>
                      <h3>
                          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                      </h3>
                  </ion-label>
                </ion-item>
          </ion-card>
       </ion-item-sliding>   
    </ion-list>
      
    <ion-list>
        <ion-item-sliding *ngFor="let car of cars">
          <ion-card button [routerLink]="['/detail',car.id]">
              <ion-item lines="none">
                <ion-label>
                  Marca:  {{car.marca}}
                </ion-label>
              </ion-item>
              <ion-item lines="none" >
                <ion-label>
                  Tipo:  {{car.tipo}}
                </ion-label>
              </ion-item>
              <ion-item lines="none" >
                <ion-label>
                  Placa:  {{car.placa}}
                </ion-label>
              </ion-item>
              <ion-item-options side ="end">
                <ion-item-option  color="secondary">
                   <ion-icon name="checkmark" slot="end"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-card>
     </ion-item-sliding>   
  </ion-list>   
  


  <!-- fab placed to the bottom and start and on the bottom edge of the content overlapping footer with a list to the right -->
  <ion-fab vertical="bottom" horizontal="end" >
      <ion-fab-button color="secondary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button routerLink="/detail"><ion-icon name="create"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
